/* GENERAL */

*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    
  }

body  {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin:5px;
}


.image{
    object-fit: cover;
     height: 100%;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px ;
      
}  

h1{
    font-size: 2.3rem;
} 

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
   margin-top: 8px;
   margin-bottom: 5px;
   
}

.prix{
    font-weight: bold;
}

.prix_p{
    margin:0;
}

/*  HEADER */

header{
    padding:18px;
}
header img {
   
    width: 100px;
    float : left;
    
}

#log {
    float:right;
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    font-size:1.5rem;
    height:36px;
    padding-top: 15px;
    

    
    
}

ul {
    list-style: none;
    text-align: justify;
    padding:0;
    display: flex;
    justify-content: space-around;
    
    }

ul a {
    color: #000;
    text-decoration: none;
    font-size:1.5rem;
    display:inline-block;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


ul a:hover {
    color: #0065FC;
    font-weight: bold;
    border-bottom: solid 3px #0065FC;
}

ul li{
    width: 50%;
    text-align: center;
    
}

header nav {
    clear: both;
    
}

form{
    height: 30px;
    border:solid #F2F2F2 2px;
    width:100%;
    border-radius: 10px;
  
    
}
.fa-map-marker-alt{
    height: 100%;
    font-size: 10px;
    padding-top:8px;
    padding-left:8px;
    width: 7%;
    background-color: #F2F2F2;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display:block;
    float:left;
    
}


form p{
 
    
    height:100%;
    width: 93%;
    
    display:block;
    float:left;
    margin:0;
    padding:0;
    
}


#city{
    height: 100%;
    border: none;
    width: 60%;
    padding:0;
    font-family:"Raleway", sans-serif;
    font-weight: bold;
}

#search{
    border: none;
    background-color: #F2F2F2;
    height: 100%;
    width:10%;
    padding:0;
    float:right;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family:"Raleway", sans-serif;
}

#filtre{
    font-weight: bold;
}
#div_filtre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    
}

.conteneur_filtre{
    display:flex;
    height: 50px;
    border-radius: 30px;
    border: solid #F2F2F2 2px;
    
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog  {
color: #0065FC;
padding: 15px;
background-color: #DEEBFF;
border-radius: 50%;

}

.bouton_E{
   
    width: 140px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.bouton_F{
   
    width: 100px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.bouton_R{
   
    width: 120px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.bouton_A{
   
    width: 180px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.fa-info {
    color: #0065fc;
    font-size: 10px;
    padding:1px 4px;
    background-color:#F2F2F2 ;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 15px;
  
  }
#info{
    display: inline-block;
    width:95%;
   margin:12px 0 0 0;
   text-align: justify;
}



/* SECTION LES PLUS POPULAIRES */

#populaire {
    background-color: #F2F2F2 ;
    padding:10px;
    width:100%;
    
}

#conteneur_pop_master{
    
}

.fa-chart-line{
float:right;
}

.conteneur_pop{
    height: 100px;
    width: 100%;
    border-radius: 20px ;
    display:flex;
    margin-bottom: 8px;
    background-color: #FFF;
    padding:3px;
   
    
}

.conteneur_img_pop{
    width:30%;
  
}

.image_p{
    object-fit: cover;
     height: 100%;
      width: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      
}  

.conteneur_txt_p{
width:70%;
padding-left: 8px;
height: 100%;
display: flex;
flex-direction: column;
justify-content:space-between;



}


i[class="fas fa-star"] {
    color: #0065fc;
    
      
 
  }
  
  i[class="far fa-star"] {
    color: #f2f2f2;
  
  }

  /* SECTION HEBERGEMENTS */

  #hebergement{
      display:flex;
      flex-wrap:wrap;
      padding:10px;
  }
  .conteneur_heb{
    height: 190px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 5px 8px 3px #f2f2f2 ;
    border-radius: 20px;
    
  }
  .conteneur_img_heb{
    width: 100%;
    height: 60%;
  }

  .conteneur_txt_h{
    width:100%;
    height:40%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
      
    }

    #afficher{
        font-weight: bold;
    }
    
  /* SECTION ACTIVITES */

  #activites{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:10px;
  }
  .conteneur_act{
    height: 160px;
    width: 100%;
    box-shadow: 5px 8px 3px #f2f2f2 ;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  .conteneur_act h3 {
    margin:0;
    padding-left:8px;
    height :30%;
    display:flex;
    align-items: center;
    
  }
  .conteneur_img_act{
    height: 70%;
  }

  
  /*  FOOTER */
  footer{
      background-color:#f2f2f2 ;
      display:flex;
      justify-content: space-around;
      
      flex-wrap: wrap;
  }

  .div_foot{
      width:365px;
      padding-left: 18px;
  }



  /* MEDIA QUERIES */

  @media screen and (min-width:768px) {

    h1{
        text-align: center;
    }
 
    h2{
        text-align: center;
        width: 100%;
    }
    header p{
        text-align: center;
    }
 
    #filtre {
        text-align: left;
    }
 
    #populaire{
        width: 33.5%;
        float:right;
       height:100%;
       border-radius: 20px;
       padding:4px;
       
       
    }

    #conteneur_pop_master{
    

    }
   
    .conteneur_img_pop{
        width:60%;
      
    }
    
    
    #pop_heb{
        height: 780px;
        width: 100%;
        padding:10px;
    }
    .conteneur_pop{
        width: 240px;
        height:150px;
        margin-top:60px;
    }
 
    #hebergement{
       background-color: #f2f2f2;
       width: 63.5%;
       border-radius: 20px;
       padding:0;
       margin-right: 3%;
       height:100%;
    }
 
    #hebergement div:nth-child(2){
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    
   
    }
    .conteneur_heb{
        width: 200px ;
        margin-left: 25px;
    }

    #afficher{
        margin-left: 25px;
    }


    .conteneur_act{
        
        width: 45%;
        
      }

      .div_foot{
        width:200px;
        padding-left: 18px;
    }
}
 
 
  /* header nav {
    clear: both;
    
} */
