/* GENERAL */

*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    
  }

body  {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    margin:5px;
}


.image{
    object-fit: cover;
     height: 100%;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px ;
      
}  

h1{
    font-size: 2.3rem;
} 

h2{
    font-size: 2rem;
    text-align: left;
    width: 100%;
}

h3{
    font-size: 1.5rem;
   margin-top: 8px;
   margin-bottom: 5px;
   
}

.prix{
    font-weight: bold;
}

.prix_p{
    margin:0;
}


a{
    text-decoration: none;
    color: #000;
  
    
   
}
/*  HEADER */

header{
    padding:18px;
}
header img {
   
    width: 100px;
    float : left;
    
}

#log {
    float:right;
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    font-size:1.5rem;
    height:36px;
    padding-top: 15px;
    

    
    
}

ul {
    list-style: none;
    text-align: justify;
    padding:0;
    display: flex;
    justify-content: space-around;
    
    }

    ul li{
        width: 50%;
        text-align: center;
        
    }
    
ul a {
    font-size:1.5rem;
    display:inline-block;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


ul a:hover {
    color: #0065FC;
    font-weight: bold;
    border-bottom: solid 3px #0065FC;
}


header nav {
    clear: both;
    
}

form{
    height: 45px;
    border:solid #F2F2F2 2px;
    width:100%;
    border-radius: 10px;
  
    
}
.fa-map-marker-alt{
    height: 100%;
    font-size: 15px;
    padding-top:12px;
    padding-left:12px;
    width: 11%;
    background-color: #F2F2F2;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display:block;
    float:left;
    
}


form p{
 
    
    height:100%;
    width: 89%;
    
    display:block;
    float:left;
    margin:0;
    padding:0 0 0 10px;;
    
    
}


#city{
    height: 100%;
    border: none;
    width: 86%;
    padding:0;
    font-family:"Raleway", sans-serif;
    font-weight: bold;
}

#search{
    display:none;
} 


.fa-search{
    border: none;
    background-color:#0065FC;
    height: 100%;
    width:13%;
    float:right;
    border-radius:7px;
    color: #FFF;
    
}

#filtre{
    font-weight: bold;
}
#div_filtre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    
}

.conteneur_filtre_E, 
.conteneur_filtre_F,
.conteneur_filtre_R,
.conteneur_filtre_A{
    display:flex;
    height: 50px;
    border-radius: 30px;
    border: solid #F2F2F2 2px;
    
}

.conteneur_filtre_E:hover{
    background-color: #0065FC;
}

.conteneur_filtre_F:hover{
    background-color: #0065FC;
}

.conteneur_filtre_R:hover{
    background-color: #0065FC;
}

.conteneur_filtre_A:hover{
    background-color: #0065FC;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog  {
color: #0065FC;
padding: 15px;
background-color: #DEEBFF;
border-radius: 50%;

}

.bouton_E{
   
    width: 140px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.bouton_F{
   
    width: 100px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.bouton_R{
   
    width: 120px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.bouton_A{
   
    width: 180px;
    text-align: center;
    font-weight: bold;
    margin:0;
    height: 100%;
    padding-top: 11px;
   
}

.fa-info {
    color: #0065fc;
    font-size: 10px;
    padding:1px 4px;
    background-color:#F2F2F2 ;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 15px;
  
  }
#info{
    display: inline-block;
    width:95%;
   margin:12px 0 0 0;
   text-align: justify;
}



/* SECTION LES PLUS POPULAIRES */

#populaire {
    background-color: #F2F2F2 ;
    padding:10px;
    width:100%;
    
}

#populaire a{
    display:flex;
}


.fa-chart-line{
float:right;
}

.conteneur_pop{
    height: 100px;
    width: 100%;
    border-radius: 20px ;
    display:flex;
    margin-bottom: 8px;
    background-color: #FFF;
    padding:3px;
    
   
    
}

.conteneur_img_pop{
    width:30%;
  
}

.image_p{
    object-fit: cover;
     height: 100%;
      width: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      
}  

.conteneur_txt_p{
width:70%;
padding-left: 8px;
height: 100%;
display: flex;
flex-direction: column;
justify-content:space-between;




}


i[class="fas fa-star"] {
    color: #0065fc;
    padding-bottom: 8px;
      
 
  }
  
  i[class="far fa-star"] {
    color: #f2f2f2;
    padding-bottom: 8px;
  }

  /* SECTION HEBERGEMENTS */

  #hebergement{
      display:flex;
      flex-wrap:wrap;
      padding:10px;
  
  }

  #hebergement a {
      height:100%;
      width:100%;
  }
  .conteneur_heb{
    height: 190px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 5px 8px 3px #f2f2f2 ;
    border-radius: 20px;
    
  }
  .conteneur_img_heb{
    width: 100%;
    height: 60%;
  }

  .conteneur_txt_h{
    width:100%;
    height:40%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #FFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }

    #afficher{
        font-weight: bold;
        display:block;
        width: 100%;
    }
    
  /* SECTION ACTIVITES */

  #activites{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:10px;
  }
  .conteneur_act_1, .conteneur_act_2,
  .conteneur_act_3, .conteneur_act_4,
  .conteneur_act_5, .conteneur_act_6 {
    height: 160px;
    width: 100%;
    box-shadow: 5px 8px 3px #f2f2f2 ;
    margin-bottom: 30px;
    border-radius: 20px;
  }


  .conteneur_act_1 h3, .conteneur_act_2 h3,
  .conteneur_act_3 h3, .conteneur_act_4 h3,
  .conteneur_act_5 h3, .conteneur_act_6 h3 {
    margin:0;
    padding-left:8px;
    padding-top:15px;
    height :30%;
  
    
  }
  .conteneur_img_act{
    height: 70%;
  }

  
  /*  FOOTER */
  footer{
      background-color:#f2f2f2 ;
      display:flex;
      justify-content: space-around;
      
      flex-wrap: wrap;
  }

  .div_foot{
      width:365px;
      padding-left: 18px;
  }



  /* MEDIA QUERIES */

  @media screen and (min-width:768px) {

    h1{
        text-align: center;
    }
 
    h2{
        text-align: center;
        width: 100%;
    }
    header p{
        text-align: center;
    }
 
    
    .fa-map-marker-alt{
      width: 9%;
      padding-left: 30px;
    }
    
    
     form p{
     
     width: 91%;
       display:flex;
       justify-content: space-between;
        
    }
    
    
    #city{
        width:90%
    }

    #search{
    display:inline;
    border: none;
    background-color: #0065fc;
    color:#FFF;
    height: 100%;
    width:20%;
    padding:0;
    float:right;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family:"Raleway", sans-serif;
} 

    .fa-search{
display:none;
    }

    #filtre {
        text-align: left;
        
    }
 
    #populaire{
        width: 33.5%;
        float:right;
       height:100%;
       border-radius: 20px;
       padding:4px;
       
       
    }

    
   
    .conteneur_img_pop{
        width:60%;
      
    }
    
    
    #pop_heb{
        height: 780px;
        width: 100%;
        padding:10px;
    }
    .conteneur_pop{
        width: 240px;
        height:150px;
        margin-top:60px;
    }
 
    #hebergement{
       background-color: #f2f2f2;
       width: 63.5%;
       border-radius: 20px;
       padding:0;
       margin-right: 3%;
       height:100%;
    }
 
    #hebergement div:nth-child(2){
    display:flex;
    flex-wrap: wrap;
    
   
    
   
    }
    .conteneur_heb{
        width: 200px ;
        margin-left: 25px;
    }

    #afficher{
        margin-left: 25px;
    }

    #div_act{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
        padding:10px;
      }


    .conteneur_act_1, .conteneur_act_2,
  .conteneur_act_3, .conteneur_act_4,
  .conteneur_act_5, .conteneur_act_6 {
        
        width: 45%;
        
      }

      .div_foot{
        width:200px;
        padding-left: 18px;
    }
}
 

@media screen and (min-width:992px){


 
  header nav {
 clear:none;
 
} 


ul li{
    width: 15%;
    text-align: center;
    
}

ul {
    
    display: flex;
    justify-content: flex-end;
    
    }
    ul a {
        position:relative;
        top:-20px;
    }

    ul a:hover {
        color: #0065FC;
        font-weight: bold;
        border-top: solid 3px #0065FC;
        border-bottom: none;
    }

    #log{
        margin-left: 20px;;
    }

    h1{
        text-align: left;
    }
 
    form{
        width: 465px;
      
        
    }
    .fa-map-marker-alt{
      width: 40px;
      padding-left: 15px;
    }
    
    
     form p{
     
     width: 91%;
       display:flex;
       justify-content: space-between;
        
    }
    
    


    #search{
      
        width:150px;
        
        
    } 
    
        .fa-search{
    display:none;

        } 

        
    #pop_heb h2{
        text-align: left;
        margin-left:30px;
        
       
        width: 85%;
        height: 20px;
    }
    header p{
        text-align: left;
    }


    #filtre {
        text-align: left;
        float: left;
        margin-top: 40px;
        margin-right: 30px;
    }

    #div_filtre{
        display: flex;
        
        
        justify-content: flex-start;
        height: 100px;
        
    }
    
    .conteneur_filtre_E, 
.conteneur_filtre_F,
.conteneur_filtre_R,
.conteneur_filtre_A{
        margin-left: 40px;
    }

    #pop_heb{
        padding:18px;
    }

    .conteneur_heb{
        width: 30%;
      
    }

    #pop_heb{
        height: 700px;
   
    }


    #hebergement{
        width: 65%;
        margin-right: 5%;
       
     }

  

     #afficher{
        margin-left: 30px;
        margin-bottom: 50px;
    }

    #populaire{
        width: 30%;
             
       
    }

    #conteneur_pop_master{
        height:85%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:50px;
        align-items: center;
       

    }

    .conteneur_pop{
        width: 85%;
        margin-top:0;
        
    }


    #activites{
        padding:18px;
        margin-top:30px;
    }

    #activites h2{
        text-align: left;
        padding-left: 10px;
    }

    
    #div_act{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height:700px;
        column-gap: 30px;
        grid-template-areas: "act_1 act_2 act_4 act_5"
                             "act_1 act_2 act_4 act_5"
                             "act_1 act_2 act_4 act_5"
                             "act_1 act_2 act_4 act_5"
                             "act_1 act_2 act_4 act_6"
                             "act_1 act_3 act_4 act_6"
                             "act_1 act_3 act_4 act_6"
                             "act_1 act_3 act_4 act_6"
        ;

    }

    .conteneur_act_1{
     grid-area: act_1;
     height:auto;
     width: 100%;
     margin-bottom: 0;
     
     
     
   
    }
    .conteneur_act_2{
        grid-area: act_2;
         height:auto;
         width: 100%;
         display:flex;
         flex-direction: column;
         margin-bottom: 30px;
         
    
    }

    .conteneur_act_3{
        grid-area: act_3;
        height:auto;
        width: 100%;
        margin-bottom: 0;
        display:flex;
        flex-direction: column;
        
        
    }
     
    .conteneur_act_4{
        grid-area: act_4;
        height:auto;
        width: 100%;
        margin-bottom: 0;
        
     
    }
    .conteneur_act_5{
        grid-area: act_5;
        height:auto;
        width: 100%;
        margin-bottom: 15px;
        
     
    } 
    .conteneur_act_6 {
        grid-area: act_6;
        height:auto;
        width: 100%;
        margin-bottom: 0;
       
     margin-top: 15px;

    
}

.conteneur_act_1 img{
    height: 605px;
}

.conteneur_act_2 img{
    height: 320px;
}

.conteneur_act_3 img{
    height: 180px;
}

.conteneur_act_4 img{
    height: 605px;
}

.conteneur_act_5 img{
    height: 250px;
}

.conteneur_act_6 img{
    height: 250px;
}


#text_act_1{
    height: 100px;
    padding-top: 40px;
    position:relative;
    bottom:-102px;
    
 
}

#text_act_2{
    height: 100px;
    padding-top: 38px; 
}
#text_act_3{
    height: 100px;
    margin-top:-3px;
   
}
#text_act_4{
    height: 100px;
    padding-top: 40px;
    position:relative;
    bottom:-102px;
}
#text_act_5{
    height: 100px;
    padding-top: 40px;
}
#text_act_6{
    height: 100px;
    padding-top: 40px;
}


footer{
   
    justify-content: flex-start;
    margin-top:40px;
    
}

.div_foot{
    width:230px;
    margin-left: 18px;
    padding-left: 0;
    margin-right: 220px;
    
}


}

